#btn-area{ width: 100%; height: 100px; display: inline-block; margin-left: 20%; }
#cont-area{ width: 1920px; height: 1080px; }
#result-area{ width: 100%; height: 200px; margin-left: 20%; }
#testTable{ border: 1px solid gray; text-align: center; }